<h1>New Credit Account</h1>

		<%= render :layout => '/accounts/form_for_new.html' %>

		<%= link_to 'Back', "/admin/account_list" %>


<style type="text/css">

table td {
	vertical-align: top;
}

</style>