<%= form_for :account, :url => "/admin/edit_account" do |f| %>

	<tr>
		<td>
			<%= collection_select(:account, :id, Account.all, :id, :name, {}, {:name => "account_id"}) %>
		</td>
		
		<td><%= f.submit "Edit" %></td>
	</tr>

<% end %>
