$("#transactions_list").html("<table><%= escape_javascript render(:partial => "/transactions/transactions_list_header.html") %>" + 
	"<%= escape_javascript render(:partial => '/transactions/transactions_list.html') %></table>");
