<h1>Your Accounts</h1>

<table>
  <tr>
    <th style="text-align: left;">Account</th>
    <th style="text-align: left;">Balance</th>
    <th></th>
    <th></th>
  </tr>

<% current_user.accounts.each do |account| %>
  <tr>
    <%= render :partial => "/#{account.type.to_s.underscore}s/#{account.type.to_s.underscore}", :object => account, :locals => {:account => account} %>    
  </tr>
<% end %>
</table>
