<h1>New <%= @account.type %></h1>

		<%= render :partial => 'form_for_new.html' %>

		<%= link_to 'Back', "/admin/account_list" %>


<style type="text/css">

table td {
	vertical-align: top;
}

</style>